trunk/src/java/ClienteWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions targetNamespace="http://util.agencia/" name="ClienteWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://util.agencia/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://util.agencia/" schemaLocation="ClienteWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="logCliente">
    <part name="parameters" element="tns:logCliente"/>
  </message>
  <message name="logClienteResponse">
    <part name="parameters" element="tns:logClienteResponse"/>
  </message>
  <message name="listarClientes">
    <part name="parameters" element="tns:listarClientes"/>
  </message>
  <message name="listarClientesResponse">
    <part name="parameters" element="tns:listarClientesResponse"/>
  </message>
  <message name="guardarCliente">
    <part name="parameters" element="tns:guardarCliente"/>
  </message>
  <message name="guardarClienteResponse">
    <part name="parameters" element="tns:guardarClienteResponse"/>
  </message>
  <portType name="ClienteWS">
    <operation name="logCliente">
      <input wsam:Action="http://util.agencia/ClienteWS/logClienteRequest" message="tns:logCliente"/>
      <output wsam:Action="http://util.agencia/ClienteWS/logClienteResponse" message="tns:logClienteResponse"/>
    </operation>
    <operation name="listarClientes">
      <input wsam:Action="http://util.agencia/ClienteWS/listarClientesRequest" message="tns:listarClientes"/>
      <output wsam:Action="http://util.agencia/ClienteWS/listarClientesResponse" message="tns:listarClientesResponse"/>
    </operation>
    <operation name="guardarCliente">
      <input wsam:Action="http://util.agencia/ClienteWS/guardarClienteRequest" message="tns:guardarCliente"/>
      <output wsam:Action="http://util.agencia/ClienteWS/guardarClienteResponse" message="tns:guardarClienteResponse"/>
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="logCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarClientes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="guardarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

